.conclusion {
    min-height: 171px;
    padding: 60px 0 76px 0;
    p {
        color: #202326;
        font-family: "Arial MT";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
    }
}